<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Expires" content="Fri, Jun 12 1981 08:20:00 GMT">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <link rel="icon" tpe="image/png" href="/static/favicon.ico">
    
    
    <title>BH Analytics</title>
    <style>
    #map {
        height: 200px;
        width: 300px;
       }
    </style>
    <script type="text/javascript">
     function timedRefresh(timeoutPeriod) {
         setTimeout("location.reload(true);",timeoutPeriod);
     }
     </script>
     <img  id="imageid"  >
     <script type="text/javascript">
      function reloadImg() {
         var d=newDate();
         document.getElementById("imageid").src="/Test/therm.jpg?a="+d.getTime();
     }
     function newimage() {
        therm.jpg = "/dev/shm/therm.jpg" + new Date().getTime();    
     }
    </script>
    

    <style>
        header {

                text-align: center;

        }

        gdata {
                margin-left: 230px;
                padding: 0;   
                position: absolute;
                left: 10%;
                color: blue;
                font-size: x-large;
        }
        body {
                background-color: LightCyan;
        }

        div.imgContainer{
            float:left;
        }

    </style>  
  </head>
  <body onload="javascript:timedRefresh(3000)">
  
    <h2><header><font color="red"> Smart Suit Location and Physiologic Data</font></header></h1>

    <p><h2>Time: <gdata>{{ value['Time'] }}</gdata></h2></p>
    <p><h2>Latitude:  <gdata>{{ value['Latitude'] }}</gdata></h2></p>
    <p><h2>Longitude: <gdata>{{ value['Longitude'] }}</gdata></h2></p>
    <p><h2>Alititude: <gdata>{{ value['Altitude'] }}</gdata></h2></p>
    <p><h2>Heart Rate: <gdata>{{ value['Physiologic'] }}</gdata></h2></p>
    <p><h2>Temperature: <gdata>{{ value['Temperature'] }}</gdata></h2></p>
    <br>

    <form name="myform4">
        <input type="hidden" name="formvar" value="<gdata>{{ value['Latitude']}}</gdata>" >
    </form>
    
    <form name="myform2">
        <input type="hidden" name="formvar" value="<gdata>{{ value['Longitude']}}</gdata>" >
    </form>   
    
    
    <input id="HiddenLat" type="hidden" value="{{ value['Latitude']}}" >
    <input id="HiddenLng" type="hidden" value="{{ value['Longitude']}}" >
    
    <div class="image12">
        <div class="imgContainer">
            <div id="map">
                <script type="text/javascript">
                  var valueLat= document.getElementById("HiddenLat").value;
                  var valueLng= document.getElementById("HiddenLng").value;     
                  var coordinatesLat = parseFloat(valueLat);   
                  var coordinatesLon = parseFloat(valueLng);
		  var zoom_var = 17;
      
                  function initMap() {
                    if (isNaN(coordinatesLat) || isNaN(coordinatesLon)) {
                        return 'No coordinates available';
                    }    
                    var uluru = {lat: coordinatesLat, lng: coordinatesLon};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: zoom_var,
		      zoomControl: true,
		      scaleControl: false,
		      fullscreenControl: false,
		      rotateControl: false,
		      streetViewControl: false,
		      mapTypeControl: false,
                      mapTypeId: 'hybrid',
                      center: uluru 
                    });
		    zoom_var = map.zoom;
                    //    map.setMapTypeId('satellite');
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                    });
                  }
                </script>
            </div>
        </div>   
        <div class="imgContainer">
        
        <!--
        <img id="myimg" src="{{ url_for('download_file', filename='therm.jpg') }}" align="right" width="300" height="200">
        -->
        </div>   
    </div>
    <!--
    <h3><img src="{{ url_for('video_feed') }}" width="300" height="200">TEST</h3>
    -->
    
    <img src="{{ url_for('download_file', filename='therm.jpg') }}"  width="300" height="200">
    
    <script>
        document.getElementById('myimg'.src = document.getElementById('myimg').src + '?' + (new Date()).getTime();
    
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZVv47aaTU8ZHERkXFI1WqPOoIQYk9QhA&callback=initMap">
    </script>
    <br>
     
  </body>
</html>